.footerOuter {
  width: 100%;
  margin-top: 60px;
}

.footerContainer {
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.footerText {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: small;
}

.text2 {
  color: rgb(130, 126, 93);
}

.text2:hover {
  color: rgb(229, 222, 162);
}

.text3 {
  color: rgb(130, 126, 93);
}

.text3:hover {
  color: rgb(229, 222, 162);
}

.footerIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: all 0.3s;
}

.footerIcons img:hover {
  transform: scale(1.3);
}

.logo {
  width: 100%;
  margin-top: 100px;
}
