.homeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.homeSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBannerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.navbarLinksContainer {
  display: flex;
  text-align: center;
  justify-content: space-around;
  height: 50px;
  text-decoration: none;
  margin-top: 30px;
  color: var(--text-primary);
  cursor: pointer;
}

.homeBannerContainer {
  margin-top: 100px;
}

.primaryHeading {
  font-size: 80px;
}

.primaryText {
  font-size: 52px;
}

.homeButton button {
  background-color: #ff536b;
  color: #ececec;
  border-radius: 35px;
  border: none;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.homeButton button::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 1;
  right: -20px;
  transition: 0.5s;
}

.homeButton button:hover {
  padding-right: 25px;
}

.homeButton button:hover::after {
  opacity: 1;
  right: 0;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
