.banner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 20px;
  padding: 65px 0px 65px 0px;
  background: rgb(37, 37, 37);
}

.bannerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  text-align: center;
  gap: 20px;
}

.bannerTitle {
  font-size: xx-large;
  font-weight: bold;
}

.bannerButton {
  background-color: #ff536b;
  color: #ececec;
  border-radius: 35px;
  border: none;
  padding: 15px;
  margin-top: 30px;
  transition: 0.5s;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.bannerButton::after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 1;
  right: -20px;
  transition: 0.5s;
}

.bannerButton:hover {
  padding-right: 25px;
}

.bannerButton:hover::after {
  opacity: 1;
  right: 0;
}
